.boardPreview {
  background-color: gray;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.boardTitle {
  color: whitesmoke;
  font-weight: 700;
  font-size: 16px;
  word-wrap: break-word;
}

.boardBox {
  min-height: 100px;
}

.board-menu-button {
  background-color: rgba(126, 126, 126, 0.6);
  border-radius: 5px;
  min-height: 32px;
  height: 38px;
  min-width: 50px;
  width: fit-content;
  box-sizing: border-box;
  transition: ease-out background-color 0.5s;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.board-menu-button:hover {
  background-color:rgba(126, 126, 126, 0.815);
}