.archived-board {
  background-color: rgba(160, 160, 160, 0.2);
  border-radius: 3px;
}

.archived-board-button {
  border-radius: 3px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.archived-board-delete-button {
  background-color: rgba(160, 160, 160, 0.35);
}

.archived-board-delete-button:hover {
  background-color: rgba(160, 160, 160, 0.5);
}

.archived-board-restore-button {
  background-color: #28a745;
}

.archived-board-restore-button:hover {
  background-color: #2fbd50;
}